@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://unicons.iconscout.com/release/v4.2.0/css/line.css');

/* ==== VARIABLES ==== */
:root {
  --fs-3xl: 3rem;
  --fs-2xl: 2.25rem;
  --fs-xl: 1.5rem;
  --fs-lg: 1.25rem;
  --fs-md: 1rem;
  --fs-sm: .9rem;
  --fs-xs: .8rem;

  --fw-600: 600;
  --fw-500: 500;

  --color-primary: oklch(67.3% 0.182 276.935);
  --color-secondary: oklch(70.7% 0.165 254.624);

  --text-primary: oklch(98.5% 0 0);
  --text-secondary: oklch(87% 0 0);

  --bg-primary: oklch(0% 0 0);
  --bg-secondary: oklch(26.9% 0 0);

  --bg-header: #161617cc;
  --border: #ffffff3d;

  --container-md: min(60rem, 100% - 3rem);
  --container-sm: min(30rem, 100% - 3rem);
}

/* ==== LIGHTMODE ==== */
[data-theme="light"] {
  --text-primary: oklch(14.5% 0 0);
  --text-secondary: oklch(43.9% 0 0);

  --bg-primary: oklch(100% 0 0);
  --bg-secondary: oklch(98.5% 0 0);

  --bg-header: #fafafccc;
  --border: #00000029;
}

/* ==== BASE ==== */
* {
  margin: 0;
  padding: 0;

  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  background: var(--bg-primary);
  transition: .4s;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  all: unset;
}

/* ==== COMPONENTS ==== */
.btn-primary {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  font-size: var(--fs-sm);
  font-weight: var(--fw-500);
  color: var(--bg-primary);
  background: linear-gradient(90deg, var(--color-primary), var(--color-secondary));
  background-size: 150%;
  padding: 1rem 2rem;
  border-radius: 100vmax;
  transition: .2s;

  &:hover {
    background-position: right;
  }
}

.btn-secondary {
  color: var(--text-secondary);
  cursor: pointer;
  transition: .2s;

  &:hover,
  &.active {
    color: var(--text-primary);
  }
}

.fade-up {
  opacity: 0;
  translate: 0 1rem;
  transition: translate .8s, opacity .8s;
  transition-delay: calc(var(--i) * .2s);

  &.active {
    translate: 0 0;
    opacity: 1;
  }
}

.fade-down {
  opacity: 0;
  translate: 0 -1rem;
  transition: translate .8s, opacity .8s;
  transition-delay: calc(var(--i) * .2s);

  &.active {
    translate: 0 0;
    opacity: 1;
  }
}

/* ==== UTILITIES ==== */
.fs-3xl { font-size: var(--fs-3xl); }
.fs-2xl { font-size: var(--fs-2xl); }
.fs-xl { font-size: var(--fs-xl); }
.fs-lg { font-size: var(--fs-lg); }
.fs-md { font-size: var(--fs-md); }
.fs-sm { font-size: var(--fs-sm); }
.fs-xs { font-size: var(--fs-xs); }

.fw-600 { font-weight: var(--fw-600); }
.fw-500 { font-weight: var(--fw-500); }

.color-primary { color: var(--color-primary); }
.color-secondary { color: var(--color-secondary); }

.text-primary { color: var(--text-primary); }
.text-secondary { color: var(--text-secondary); }

.col-span-1 { grid-column: span 1; }
.col-span-2 { grid-column: span 2; }
.col-span-3 { grid-column: span 3; }
.row-span-1 { grid-row: span 1; }
.row-span-2 { grid-row: span 2; }
.row-span-3 { grid-row: span 3; }

.sm-hide { display: none; }
.opacity-0 { opacity: 0; }

/* ==== RESPONSIVE ==== */
@media (width <= 48rem) {
  html {
    scrollbar-width: none;
  }

  .md-hide {
    display: none;
  }

  .sm-hide {
    display: block;
  }
}
